-# This is a dashboard in itself, so place it in the dashboards/ directory and
-# configure the cycler below

%script{src: "/assets/cycler.js", type: "text/javascript"}

:javascript
  new Cycler({
    // Board paths to cycle through
    boards: ['board-one', 'board-two', 'board-three'],

    // How long to stay on each board, in seconds
    duration: 10

    // By default, we only load the current board and the next one, to improve
    // performance. By setting this to true, all boards can be loaded at once
    loadAll: false

    width: 1920
    height: 1080
  });
